<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><b>Welcome to the BLOG</b></p>
    <div class="content">
    {% if blog_posts|length < 1 %}
    <h4 style="text-align: center">There are no posts. Create one below!</h4>
    {% else %} 

    <table>
        <tr>
            <th>Title</th>
            <th>Body</th>
            <th>Actions</th>
        </tr>
        {% for blog_post in blog_posts %}
            <tr>
                <td>{{ blog_post.title }}</td>
                <td>{{ blog_post.body }}</td>
                <td>{{ blog_post.date_created.date() }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <br>

    <form action="/" method="POST">
        <input type="text" name="title" id ="title">
        <input type="text" name="body" id="body">
        <input type="submit" value="Add Post">
    </form>
</body>
</html>