<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Welcome! This is <b>Christian-Sama</b></p>
    <a href="https://html.com/"> Learn Some HTML!</a>
    <img src="/static/images/blogImage.jpg" alt="This is a blog" height="100" width="100">
    <ol>
        <li>Chicken</li>
        <li>Cow</li>
        <li>Wolf</li>
    </ol>
    <ul>
        <li>This is</li>
        <li>Moto</li>
        <li>Hire me TOSTI</li>
    </ul>
    <dl>
        <dt>Item</dt>
        <dd>The definition goes here</dd>
    </dl>
    <table border="1px">
        <th>TABLE</th>
        <tr>
            <td>Input 1</td>
            <td>Input 2</td>
            <td>Input 3</td>
        </tr>
        <tr>
            <td>Marcus</td>
            <td>Shawn</td>
            <td>Sean</td>
        </tr>
    </table>
</body>
</html>